@use '../util/' as *;

.game {
  background-color: var(--body-color);
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  &__user-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__user-wrapper {
  }
  &__badge {
    border-radius: 0.25rem;
    margin-top: 0.5rem;

    text-align: center;

    background: var(--first-color);
    color: white;
    font-size: var(--m-font-size);
    padding: rem(10) rem(10);

    &--user {
    }
    &--computer {
    }
  }

  &__hp-bar {
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 6px solid red;
  }
  &__mp-bar {
    border-radius: 0.25rem;
    margin-top: 0.2rem;
    border: 6px solid blue;
  }
  &__img-wraper {
    width: 10rem;
    height: 10rem;
    position: relative;
  }

  .nani::after {
    content: "Nani";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    height: 100%;
    color: red;
    font-weight: bold;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .omae:after {
    content: "omae wa mou shindeiru";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    height: 100%;
    color: red;
    font-weight: bold;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  &__user-img {
    margin-top: 0.5rem;

    border: 1px solid black;
    border-radius: 0.25rem;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    display: block;

    &--user {
    }
    &--computer {
    }
  }

  &__score-board {
    border: 1px solid black;
    max-width: rem(200);
    min-width: 30%;
    padding: 1rem;
    margin: 2rem auto;
    font-size: var(--l-font-size);
    border-radius: 0.25rem;
    text-align: center;

    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
  }

  &__result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    font-size: 1.3rem;
    font-weight: var(--font-medium);
  }
  &__text {
    width: max-content;

    margin: rem(15);
    padding: 0 rem(5);
    float: right;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;

    &--user {
      transform: rotate(2deg);
      display: none;
    }
    &--computer {
      transform: rotate(-2deg);
      display: none;
    }
    &--result {
    }
  }
  &__choices {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, max-content);
    flex-wrap: wrap;
    gap: 1rem;

    margin: 2.5rem 1rem;
  }
  &__choice {
    display: flex;
    justify-content: center;

    align-items: center;
    border: 4px solid black;
    border-radius: 50%;
    overflow: hidden;

    width: rem(150);
    height: rem(150);

    background-color: #ffea00;
    transition: all 0.3s ease-in-out;

    margin: 1rem;

    &:hover {
      cursor: pointer;
      scale: (1.2);
    }
  }
  &__img {
    height: rem(90);
    height: rem(90);
  }
  &__action-message {
    text-align: center;
    font-size: var(--l-font-size);
    font-weight: var(--text-color);
    color: black;
  }
}
.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}
.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
